* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f3f4f6;
}

.login-container {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f3f4f6;
  width: 400px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

h5 {
  text-align: center;
  margin-bottom: 20px;
  color: #302f2f;
}

.input-container {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 8px;
}

.email-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.password-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 5px;
  color: #3d3d3d;
}

input {
  padding: 14px 12px;
  border-radius: 6px;
  border: 2px solid #111111;
}

input:focus {
  outline: 1px solid #2563eb;
  border: 1px solid #2563eb;
}

.sign-in {
  padding: 16px 24px;
  width: 100%;
  margin-top: 10px;
  background-color: #2563eb;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.nav-dash {
  background-color: #2563eb;
  color: #fff;
  text-decoration: none;
  padding: 16px 24px;
  /* width: 100%; */
}

.nav-dash:hover {
  background-color: #5382e7;
  color: #fff;
}

.sign-in:hover {
  background-color: #5382e7;
}

p {
  text-align: center;
  margin-top: 25px;
  font-size: 18px;
}

.navigate {
  color: #0f38ee;
  cursor: pointer;
}

.navigate:hover {
  color: #2225b3;
}

.navigate {
  text-decoration: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 20px;
}
.state-list {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.state-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #1656e2;
  color: #fff;
  border-radius: 16px;
  width: 350px;
  min-height: 220px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  text-align: center;
  /* self - 10px*/
}
.state-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  background-color: #0b4baa;
}
.state-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
}
.state-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}
.state-card p {
  font-size: 0.95rem;
  margin: 4px 0;
}
/* This is to give it tha responsive layout */
@media (max-width: 768px) {
  .state-card {
    width: 90%;
    min-height: 280px;
  }
}
@media (max-width: 480px) {
  .state-card {
    width: 100%;
  }
}
h1{
    padding: 20px;
}

span {
  font-weight: bold;
  color: #ffffff;
}

.head-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 300px; */
}

.log-out {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #fff;
  color: #0f38ee;
  border: 2px solid #0f38ee;
  border-radius:6px;
  cursor: pointer;
}

